// fonts
$poppins: "Poppins", sans-serif;

// colors
$black: #000;
$white: #fff;
$primary-color: #7d5fff;
$dark-color: #1d1d1d;
$carbon: #333333;

// others
$radius-full: 9999px;
$transition: all ease 0.3s;

// font-sizes
$fs-12: 12px;
$fs-14: 14px;
$fs-16: 16px;
$fs-25: 25px;

// font-weights
$fw-400: 400;
$fw-500: 500;
$fw-600: 600;

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  align-items: center;
  height: 100vh;
  font-family: $poppins;
  font-size: $fs-16;
}

img {
  max-width: 100%;
}

a,
button {
  text-decoration: none;
  outline: none;
}

// scrollbar css

::-webkit-scrollbar {
  display: none;
}

// components

.button-icon {
  display: inline-grid;
  place-items: center;
  height: 40px;
  width: 40px;
  border-radius: $radius-full;
  background-color: $white;
  border: 2px solid rgba($primary-color, 0.2);
  color: $dark-color;
  transition: $transition;

  &:hover {
    background-color: $primary-color;
    color: $white;
  }
}

.input {
  border-radius: 5px;
  border: 2px solid rgba($primary-color, 0.2);
  background-color: $white;
  font-size: $fs-14;
  padding: 20px;
  width: 100%;
  outline: none;
}

.link-item {
  flex: 0 0 calc(50% - 15px);

  &__cover {
    position: relative;
    aspect-ratio: 1 / 1.5;
    border-radius: 5px;
    background-size: cover;
    background-position: center;
    overflow: hidden;

    & i {
      position: absolute;
      top: 40px;
      left: 50%;
      transform: translateX(-50%);
      font-size: $fs-25;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      height: 100%;
      width: 100%;
      background: linear-gradient(
        180deg,
        rgba($black, 0.3) 30.17%,
        rgba($black, 0.5) 50.14%
      );
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    grid-gap: 7px;
    margin-top: 7px;

    &-title {
      font-size: $fs-14;
      color: $dark-color;
      font-weight: $fw-600;
    }

    &-desc {
      font-size: $fs-12;
      color: $carbon;
      display: -webkit-box;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
      overflow: hidden;
    }
  }

  &:nth-child(odd) {
    transform: translateY(50px);
  }
}

.badge {
  background-color: rgba($primary-color, 0.2);
  border-radius: 5px;
  padding: 4px 8px;
  color: $primary-color;
  width: fit-content;
  font-size: $fs-12;
}

// components

.body-slider {
  max-width: 500px;
  width: 100%;
  height: 100vh;
  // box-shadow: 0 0 7px 3px rgba($black, 0.1);

  &__welcome {
    padding: 88px 30px;
    overflow-y: auto;

    &-avatar {
      position: relative;
      width: 150px;
      height: 150px;
      margin: auto;

      & img {
        border-radius: 50%;
        border-radius: $radius-full;
      }

      & .button-icon {
        position: absolute;
        bottom: 0;
        right: 0;
        box-shadow: 0 0 0 5px $white;
      }

      &-detail {
        margin-top: 40px;
        text-align: center;

        & h1 {
          color: $dark-color;
        }

        & h2 {
          color: $primary-color;
          font-size: $fs-14;
        }

        & p {
          font-size: $fs-12;
          color: $dark-color;
          width: 300px;
          max-width: 100%;
          margin: 20px auto 0;
        }
      }
    }
  }
}

.social-accounts {
  display: flex;
  justify-content: center;
  grid-gap: 10px;
  margin-top: 20px;
}

.link-items {
  &-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    grid-row-gap: 30px;
  }

  &-searchbar {
    margin-top: 20px;
    flex: 1 0 100%;
  }
}

@media (max-width: 991px) {
  .body-slider {
    height: 100vh;
    box-shadow: none;
  }
}
